body{
    background-image: linear-gradient(120deg,#84fab0 0%,#8fd3f4 100%);
}
.form{
    position: relative;
    z-index: 1;
    background:rgba(7, 40, 195, 0.8);
    max-width: 400px;
    margin:0 auto 100px;
    padding: 30px;
    text-align: center;
    top: 30px;
}
.form input{
    font-family: "Roboto",sans-serif;
    outline:1;
    background:#f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    /* outline: 0; */
    background:#4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover,.form button:active{
    background: #43a087;
}
  .rn{
    background-color: blueviolet;
    height: 50px;
    width: 300px;
   border: 2px solid black;
    text-align: center;
    border-radius: 2px;
}
.rn:hover{
    background-color: green;
}
.rm{
    padding-bottom:15px;
    top: 0px;
    margin-bottom: 3px;
    width:100%;
    position: absolute;
    top: 0.5px;
    left:15px;
    text-decoration: underline;
    color:white;
} 
.rm:hover{
    color: yellow;

}
.rm sub small{
    font-size: 10px;
    position: absolute;
    bottom:30px;
    color: red;

}
.ram{
    font-family: "Roboto",sans-serif;
    outline:1;
    background:#f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#country{
    font-family: "Roboto",sans-serif;
    outline:1;
    background:#f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    padding-bottom: 10px;

}
/* .j{
    background-color: #84fab0;
    bottom: 270px;
    position: absolute;
    width: 360px;
    height: 50px;
    font-size: 20px;
    text-align: center;
} */
.red{
    display: none;
}